*
{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.MenuTitle
{
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 2em;
	padding-top: 20px;
	padding-bottom: 20px;
}

.Menu
{
	padding-left: 5px;
	padding-right: 5px;
}

.GridElement
{
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
}

.Course
{
	clear:right;
	font-family: sans-serif;
	font-size: 1em;
	background-color: darkgray;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

.CourseTitle
{
	float: right;
	font-family: sans-serif;
	font-size: 1.5em;
	text-align: center;
	position: relative;
	right: -1px;
	top: -1px;
	border: 1px solid black;
	padding: 5px;
	width: 25%;
	min-width: 150px;
	max-width: 150px;
}

.CourseDescription
{
	clear: right;
	margin: 5px;
}

#Course1.CourseTitle
{
	background-color: mistyrose;
}

#Course2.CourseTitle
{
	background-color: crimson;
}

#Course3.CourseTitle
{
	background-color: lightyellow;
}

@media(min-width: 1366px)
{
	section
	{
		float: left;
		width: 33.3%;
	}
}

@media(min-width: 799px) and (max-width: 1365px)
{
	section
	{
		float: left;
		width: 50%;
	}
	
	#Course3.GridElement
	{
		width: 100%;
	}
}
